# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
/examples/Narayan/.vs/Narayan/v14
/examples/Narayan/Debug
/examples/Narayan/ipch/NARAYAN-f3f7ba21
/examples/Narayan/packages/boost.1.81.0
*.db
/examples/Narayan/x64/Release
/examples/Narayan/Narayan/Debug
/examples/Narayan/Narayan/x64/Release
/lw1_double_square/x64/Debug
/lw1_double_square/packages/boost.1.81.0
/lw1_double_square/Debug
/lw1_double_square/.vs/lw1_double_square/v14
/lw1_double_square/lw1_double_square/x64/Debug
/lw1_double_square/lw1_double_square/Debug
/lw1_double_square/lw1_double_square_tests/x64/Debug
